{% extends 'base.html.twig' %}

{% block title %}Post{% endblock %}

{% block body %}
    <h1>Post</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ post.id }}</td>
            </tr>
            <tr>
                <th>Username</th>
                <td>{{ post.username }}</td>
            </tr>
            <tr>
                <th>Message</th>
                <td>{{ post.message }}</td>
            </tr>
            <tr>
                <th>Photo</th>
                <td>{{ post.photo }}</td>
            </tr>
            <tr>
                <th>Likes</th>
                <td>{{ post.likes }}</td>
            </tr>
            <tr>
                <th>Created_at</th>
                <td>{{ post.createdAt ? post.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_index') }}">back to list</a>

    <a href="{{ path('post_edit', {'id': post.id}) }}">edit</a>

    {{ include('post/_delete_form.html.twig') }}
{% endblock %}
